# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# 1 - criei uma pasta backend
# 2 - acessar a pasta backend
# 3 - criei uma api fake com o comando npm i json-server
backend/node_modules/*
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/memoteca/FileContentIndex/d9a42015-d799-4b7a-b8b0-a713b7c9bbbd.vsidx
.vs/memoteca/FileContentIndex/read.lock
.vs/memoteca/config/applicationhost.config
.vs/memoteca/v17/.wsuo
package-lock.json
